<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">
        <h2>DASHBOARD</h2> </a>
    </div>

    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i
              class="ti-menu"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i
              class="ti-menu"></i></a> </li>
      </ul>
      <ul class="navbar-nav mr-auto"> </ul>
      <ul class="navbar-nav my-lg-0">
      

        
        <li class="nav-item hidden-xs-down" (click)="logout()">
          <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-power-off"> Admin</i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
