// .login-register {
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     height: 100%;
//     width: 100%;
//     padding: 10% 0;
//     position: fixed; }

    .login-register {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10% 0;
    background-position: right bottom;
    background-color: #F2F1F2;
    // background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png") no-repeat, linear-gradient(134.95deg, #22DFD5 0%, #00B6AC 100%) !important;s   
    overflow: auto;
    }
  
  .login-box {
    width: 400px;
    margin: 0 auto; }
    .login-box .footer {
      width: 100%;
      left: 0px;
      right: 0px; }
    .login-box .social {
      display: block;
      margin-bottom: 30px; }
  
  #recoverform {
    display: none; }
  
  .login-sidebar {
    padding: 0px;
    margin-top: 0px; }
    .login-sidebar .login-box {
      right: 0px;
      position: absolute;
      height: 100%; }
  
    .login-box.card {
        border-radius: 15px;
    }


    #loginform {
        padding: 30px;
    }