<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">


        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-chart-line"></i><span>Inicio</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-basket"></i><span>Productos</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-format-list-bulleted-type"></i><span>Inventario</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-truck-delivery"></i><span>Proveedores</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-bow-tie"></i><span>Personal</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-account-multiple"></i><span>Clientes</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-bookmark-plus-outline"></i><span>Favoritos</span></a></li>
        <li><a href="javascript:void()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-ticket-percent"></i><span>Descuentos</span></a></li>

        <li><a (click)="logout()" routerLinkActive="active" routerLink="/backoffice/users">
            <i class="mdi mdi-logout-variant"></i><span>Salir</span></a></li>
        <!-- <li class="nav-devider"></li> -->

      </ul>
    </nav>
  </div>
</aside>
